body,
html {
  box-sizing: border-box;
  font-size: 10px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 4rem;
  margin: 1rem 0;
}

.live-cams {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cam {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem 0;
}

.links a {
  font-size: 2.5rem;
  margin: 1rem 0;
}
